[submodule "third_party/ExoPlayer"]
	path = third_party/ExoPlayer
	url = https://github.com/Marco9412/ExoPlayer
[submodule "third_party/android-google-youtube-library"]
	path = third_party/android-google-youtube-library
	url = https://gitlab.com/Marco9412/android-google-youtube-library
